html {
  min-height: 100%;
}
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
header {
  text-align: center;
  padding: 5px;
  color: #f51a1a;
  text-transform: uppercase;
}
footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 5px;
  text-align: center;
  background-color: #d9d5d4;
  box-sizing: border-box;
}

footer h3 {
  font-size: 18px;
}
footer p {
  font-size: 12px;
}
.game-area {
  width: 75%;
  margin: 10px auto 10px auto;
  text-align: center;
}
.game-area p {
  margin-bottom: 10px;
}
.player {
  float: left;
  width: 45%;
}
h2 {
  margin-bottom: 5px;
  font-size: 22px;
}
#player-img {
  width: 50%;
  border-radius: 50%;
  border: 3px solid black;
}

.computer {
  float: right;
  width: 45%;
}

#computer-img {
  width: 50%;
  border-radius: 50%;
  border: 3px solid black;
}

.btn-container {
  margin-bottom: 25px;
}
.control {
  display: inline-block;
  width: 70px;
  height: 30px;
  background-color: #abf9df;
  border-radius: 4px;
  cursor: pointer;
  transition: all 250ms ease;
}
.control:hover {
  background-color: aquamarine;
}

.control:not(:last-child) {
  margin-right: 5px;
}

@media screen and (min-width: 576px) {
  .control:not(:last-child) {
    margin-right: 12px;
  }
}
